/* Свои свйства */

/* фиксированное отображение относительно браузера */
.fixed{
    position: fixed;
    overflow-y: visible;
}
/* сдвигается относительно места в котором должен был стоять */
.relative{
    position: relative;
}
/* Абсолютное позиционирование */
.absolute{
    z-index: 1000;
    position: absolute;
}

.left{
    float: left;
}
.right{
    float: right;
}
.margin_min{
    margin-top: 5px;
    margin-bottom: 5px;
}
.padding_min{
    padding-top: 5px;
    padding-bottom: 5px;
}

a{
    display: inline-block;
    text-decoration: none;
}

a:hover{
    color:red;
}

/* Тексты и цитаты*/

blockquote {
    background: #f9f9f9;
    border-left: 3px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201D""\201C";
}

blockquote:before{
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
}

blockquote p{
    display: inline;
}

.main_content{
    float: left;
    width:100%;
    padding: 0;
    display: block;
}

.center{
    align-content: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}
/* Менюшки и лого */

.menu_fixed{
    max-width: 1240px;
    overflow: auto;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: calc(100% - 152px);
    right: 0;
    z-index: 5000;

}

.wrapper{
    max-width: 1240px;
    margin: 0 auto;
    display: block;
    padding: 0;
}

.center{
    align-content: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}

.upper_text{
    margin-left: 10px;
}

.top_menu{

}
.top_menu li{
    align-items: stretch;
    list-style: none;
    float: left;
}

.top_menu li:after{
    margin-right: 15px;
    margin-left: 15px;
    content: "|";
}
.top_menu li:last-child{
    float: right;
}
.top_menu li:last-child:after{
    content: "";
}
.bg{
    background: red;
    border: 2px black dashed;
    width: calc(100% - 4px);
}
.menu{
    width: 100%;
}
.menu li{
    list-style: none;
    font-size: 20px;
    float: left;
    margin-right: 30px;
    padding: 5px 20px 5px 10px;
}
.menu li:after
{   margin-left: 50px;
    content: "|";
    color: RGBA(255,255,255,0.3);
}
.menu li:last-child:after{
    margin-left: 0px;
    content: "";
}
.menu a{
    padding: 5px 20px 5px 10px;
    color: black;
}
.menu a:hover{
    color: blue;
}
/* Карусель */
.slider{
    height: 370px;
}
.active{
    height: 370px;
    display: block;
    cursor: pointer;
    width: 100%;
}
.not_active{
    display: none;
}
/*Категории товаров*/
.container{
    position: relative;
    top: 152px;
    max-width: 1240px;
    margin: 0 auto;
    height: 400px;
}
/*[class*=cat-] {
    display: block;
}*/

.category:nth-child(N){
    height: 250px;
    background: red;
}
.category:nth-child(N+4){
    height: 100px;
    background: darkblue;
}

.item_img_1{
    display: block;
    height: 150px;
    background: darkcyan;
}
.item_img_2{
    display: block;
    height: 150px;
    background: darkred;
}
.item_img_3{
    display: block;
    height: 536px;
    background: darkcyan;
}
.item_img_4{
    display: block;
    height: 536px;
    background: darkred;
}
.cat_2{
    height: 320px;
}
.item_type_1{
    width: 95%;
    margin: 0 auto;
}
.offset-20{
    margin-left: 10.00%;
}
.button a{
    padding:2px 15px;
    border:solid 1px #004F72;
    border-radius:4px;
    font:10px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#3BA4C7;
}
.button a:hover{
    padding:2px 15px;
    border:solid 1px #004F72;
    border-radius:4px;
    font:10px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#ff0000;
    background-color:#3BA4C7;
}
.button a:active{
    padding:2px 15px;
    border:solid 1px #004F72;
    border-radius:4px;
    font:10px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#ff0000;
    background-color:#3BA4C7;
}
/*Новости*/
/* Футер */



























/*
@font-face { font-family: /*NAME*/
/*    src: url(fonts/);
}
.menu {
    background: #000000;
}
.menu li{
    display:inline-block;
    color:fff;
}
.menu a{
    text-decoration: none;
    color:#333;
}
.menu a:hover{
    text-decoration: underline;
    color: red;
}
*/






/*Если марджин у близстоящих элементов "положительный" то выбирается самый большой, если оба числа отрицательных - они
складываются
*/
/* Float - плавание элемента по горизонту, блочный элемент идущий за float, приобретает значение float предыдущего, для
 отмены данного правила используем свойство clear: both; */

/*Позиционирование элементов */

/*.static,
.fixed,
.relative,
.absolute{
    width: 200px;
    height: 200px;
    border: 3px dashed red;
    margin: 20px;
}*/

/* Сетка вёрстка */
/* файл грид */


